################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Etap/1Client
/Eta[/bin/Windows
/ClientSidedServer
